---
---
<section class="flex items-start justify-center flex-col " >
    <div class="text-pretty max-w-2xl">
        <p class="text-6xl font-bold flex-wrap flex flex-col">Hola, soy<span class="text-[#ff5252]">Tadeo Mendoza</span></p>
        <h1 class="text-[#191919] text-4xl font-semibold">Desarrollador full stack</h1>
        <p class="text-[#191919] text-2xl font-semibold">Argentino con <span class="text-[#ff5252]">+1 año de experiencia.</span> Apasionado por la tecnología y la programación</p>
    </div>
</section>
